.container{
    padding: 0 5%;
}
header{
    background-color: $col_dark;
    .container{
        padding: 0 5%;
        .nav-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: GothamHTFBook;
            a{
                color: $col_white;
                text-decoration: none;
                text-transform: uppercase;
            }
            .logo{
                a{
                    display: block;
                    padding: 40px 60px;
                    background-color: $col_white;
                    img{
                        height: 50px;
                    }
                }
            }
            nav{
                flex:1;
                padding: 0 2%;
                ul{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    list-style: none;
                    list-style-type: none;
                    li{
                        margin-right: 3%;
                        a{
                            padding-bottom: 8px;
                        }
                        &:first-child::marker{
                            content: "\e3af"; /* FontAwesome Unicode */
                            font-family: "Font Awesome 6 Free";
                            color: $col_white;
                        }
                        &.active:first-child::marker{
                            color: $col_neutral !important;
                        }
                        &.active a{
                            color: $col_neutral !important;
                            border-bottom: 1px solid $col_neutral !important;
                        }
                    }
                }
            }
            .call{
                margin-right: 2%;
                font-family: GothamHTFMedium;
            }
        }
    }
}

.splash-block{
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    .bgblack{
        background-color: rgba(0,0,0,0.3);
        .splash-revolver{
            .slick-arrow{
                top: 40%;
                padding: 5%;
                z-index: 5;
                color: rgba(255,255,255,0.5);
                font-size: 40px;
                position: absolute;
                &.r{
                    right: 0;
                }
            }
            .slidr-stage{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 900px;
                &.shortr{
                    height: 1000px;
                }
                /*align-items: center;
                justify-content: center;*/
                .slidr{
                    color: $col_white;
                    text-align: center;
                    width:100%;
                    h1{
                        font-family: MinionPro;
                        font-size: 5rem;
                    }
                    p{
                        font-family: GothamHTFBook;
                        font-size: 1.25rem;
                        margin-bottom: 1rem;
                        a{
                            margin-top:22px;
                        }
                    }
                    &.lef{
                        text-align: left;
                    }
                }
            }
        }
    }
}