
/*
header{
    .container{
        .nav-wrapper{
            .mobile_bar_nav{
                .cta{
                    a{
                        .mob{
                            @media (min-width:767px) { 
                                display: none !important
                            }
                        }
                    }
                }
            }
        }
    }
}
 SPECIFIC FIXES...*/


/*
@media (min-width:767px) {  APPLY TO ALL SCREENS LARGER THAN 767 
    .mob_hide_dskp{ display: none !important}
}
header .nav-wrapper .mobile_bar_nav .cta a .mob{}
header .nav-wrapper .mobile_bar_nav .cta a .dskp{}


header .container .nav-wrapper .mobile_bar_nav .cta a .mob{
    display: none;
}*/
header .container .nav-wrapper .mobile_bar_nav .call a.mob,
header .container .nav-wrapper .mobile_bar_nav .cta a .mob,
.mobcontrol{display:none;}

@media (max-width:1819.98px) { /*2XLARGE*/
    header .container{padding: 0 2% !important;}
    header .container .nav-wrapper .mobile_bar_nav .cta a .dskp{display:none;}
    header .container .nav-wrapper .mobile_bar_nav .cta a .mob{display: block !important;}
}
@media (max-width:1499.98px) { /*2XLARGE*/
    .tightr{padding:0 10% !important;}
    header .container .nav-wrapper .mobile_bar_nav .btnlink{padding:15px !important;}
    header .container .nav-wrapper .mobile_bar_nav .call a.dskp{display:none;}
    header .container .nav-wrapper .mobile_bar_nav .call a.mob{display: block !important;}    
}
@media (max-width:1349.98px) { /*2XLARGE*/
    header .container .nav-wrapper .mobile_bar_logobtn{
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header .container .nav-wrapper .mobile_bar_nav{
        display: none;
    }
    header .container .nav-wrapper .mobcontrol{
        display: block !important;
        font-size: 1.25rem;
    }
    header .container .nav-wrapper .mobcontrol:hover{
        font-size: 2rem;
    }
    header .container .nav-wrapper .mobile_bar_logobtn .logo a{
        padding: 20px !important;
	    transition: all 0.5s;
    }
}
@media (max-width:1199.98px) { /*XLARGE*/
    .tightr{padding:0 3% !important;}
}
@media (max-width:991.98px) { /*LARGE*/
    .content-block ul{display: block;}
    .bon-accord-kitchens-styles .feature-block .feature-content{
        padding:2rem;
    }
    .classic-gallery .classic-gallery-block .classic-gallery-revolver .classic-gallery-content{
        padding: 2rem;
    }
    .classic-gallery .classic-gallery-block .classic-gallery-revolver .classic-gallery-content .classic-gallery-content-block li{
        padding: 2rem;
        border-right:none;
        border-bottom:1px solid $col_dark;
        &:last-child{
            border-bottom:none;
        }
    }
}
@media (max-width:767px) { /*MEDIUM*/
    .feature-block{
        display: flex;
        flex-direction: column;
    }
    .feature-block .feature-content.paddr{
        padding: 2rem 0;
    }
    .feature-block .feature-photo, 
    .feature-block .feature-content{
        width: 100%;
    }
    .bon-accord-kitchens-styles .feature-block{
        display: block;
        margin: 50px 5%;
    }
    .bon-accord-kitchens-styles .feature-block .feature-content,
    .bon-accord-kitchens-styles .feature-block .feature-photo{
        width: 100%;
    }
    .bon-accord-kitchens-styles .feature-block .feature-photo{
        height: 350px;
    }
}
@media (max-width: 575.98px) { /*SMALL*/
    .content-block .heading-block{padding: 0 5%;}
    header .container .nav-wrapper .mobile_bar_logobtn .logo a {
        padding: 10px !important;
        transition: all .5s;
    }
}
