
$font_black: #201f24;
$col_dark: #2F2A2C;
$col_core_blue: #003057;
$col_neutral: #CCC1A7;
$col_white: #FFF;

@font-face {
  font-family: GothamHTFBook;
  src: url(../fonts/GothamHTF-Book.otf);
}
@font-face {
  font-family: GothamHTFMedium;
  src: url(../fonts/GothamHTF-Medium.otf);
}
@font-face {
  font-family: MinionProRegular;
  src: url(../fonts/MinionPro-Regular.otf);
}
@font-face {
  font-family: ProximaNovaRegular;
  src: url(../fonts/ProximaNova-Regular.otf);
}