
$font_black: #201f24;
$col_dark: #2F2A2C;
$col_core_blue: #5a7d95;
$col_neutral: #CCC1A7;
$col_white: #FFFFFF;
$col_lgrey: #F3F2F2;

@font-face { /* Title font */
  font-family: MinionPro;
  font-weight: normal;
  font-style: normal;
  src: url(../../fonts/MinionPro-Regular.otf);
}
@font-face {
  font-family: ProximaNova;
  font-style: normal;
  src: url(../../fonts/ProximaNova-Regular.otf);
}
@font-face {
  font-family: GothamHTFBook;
  font-style: normal;
  src: url(../../fonts/GothamHTF-Book.otf);
}
@font-face {
  font-family: GothamHTFMedium;
  font-weight: 600;
  src: url(../../fonts/GothamHTF-Medium.otf);
}